.about {
  height: 750px;
  background-image: url("../img/back-about.jpg");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -100;
  padding: 60px 0 45px;
  background-color: $color-default-black;
  // border-radius: 60px;

  @include retina {
    background-image: url("../img/back-about@2x.jpg");
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.about__info {
  padding-top: 60px;
  padding-left: 50px;
}

.about__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  text-transform: uppercase;
  color: $color-neon-carrot;
  margin: 0 0 30px 0;
  padding-top: 0;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__item {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.about__link {
  font-size: 24px;
  line-height: 33px;
  color: $color-supernova;
  padding-left: 20px;
}

.about__images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 46px
}
