.slider {
  padding: 35px 0  35px 10px;
}

.slider__item {
  display: flex;
  gap: 50px;
}

.slider__title {
 font-weight: 600;
 font-size: 24px;
 line-height: 33px;
 text-transform: uppercase;
 margin: 0;
}

.slider__info  {
}
