@use '/src/styles/variables.scss';

.krane_sections__list {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.krane_sections__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  background-color: variables.$color-paua;
  // grid-template-rows: auto auto;
}

.krane_sections__banner,
.krane_sections__content {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.krane_sections__content {
  z-index: 5;
}

.krane_sections__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: variables.$img-filter;
}

.krane_sections__title {
  font-size: 6.2rem;
  height: 7rem;
  color: variables.$color-midnight-express;
  text-align: center;
}
